In [36]:
#Ativiade da Semana 07 

#Importando Bibliotecas
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

In [37]:
#Carregando os dados do data set.
heart = pd.read_csv('datasets_heart.csv')
#heart = heart.to_numpy()
heart

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [38]:
#fazendoa separação de treinamento e teste
previsores = heart.iloc[:,0:13].values
classes = heart.iloc[:,13].values

previsores_train, previsores_test,classes_train, classes_test = train_test_split(previsores, classes, test_size=0.3)

In [39]:
#Fazendo a classificação usando SVM
SVM = SVC(kernel = 'linear', C = 2.0)
SVM.fit(previsores_train, classes_train)
previsoes = SVM.predict(previsores_test)

In [40]:
#Obtendo resultado da Acurácia
accuracy_score(classes_test, previsoes)

0.8461538461538461

In [41]:
#Fazendo a classificação usando Árvore de decisão
tree = DecisionTreeClassifier(random_state=0)
tree.fit(previsores_train, classes_train)
previsoes2 = tree.predict(previsores_test)

In [42]:
#Obtendo resultado da Acurácia
accuracy_score(classes_test, previsoes2)

0.8131868131868132

In [43]:
#Fazendo a classificação usando Regressão Logistica
log_reg = LogisticRegression()
log_reg.fit(previsores_train, classes_train)
previsoes3 = log_reg.predict(previsores_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [44]:
#Obtendo resultado da Acurácia
accuracy_score(classes_test, previsoes3)

0.8571428571428571

In [45]:
#Fazendo a classificação usando Naive Bayes
naiveBayes = GaussianNB()
naiveBayes.fit(previsores_train, classes_train)

GaussianNB(priors=None, var_smoothing=1e-09)

previsoes4 = naiveBayes.predict(previsores_test)

In [46]:
#Obtendo resultado da Acurácia
accuracy_score(classes_test, previsoes4)

0.8351648351648352

In [47]:
#Fazendo a classificação usando KNN (K-Vizinho)
knn = KNeighborsClassifier()
knn.fit(previsores_train, classes_train)
previsoes5 = knn.predict(previsores_test)

In [48]:
#Obtendo resultado da Acurácia
accuracy_score(classes_test, previsoes5)

0.6483516483516484

In [ ]:
#O melhor resultado para classificação, foi usando a REGRESSÃO LOGISTICA.