<a href="https://colab.research.google.com/github/JoaoDenilson/DataScience-Python/blob/master/Atividade_02_JoaoDenilson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# <font color='blue'>Curso FIC - Data Science com Python -
</font>

## Atividade tipos básicos Python

## Lista de Exercícios I

In [0]:
# Exercício 1 - Apresente na tela os números de 1 a 10. Crie uma lista para armazenar esses números.
numeros = []
for x in range(1,11):
  print(x)
  numeros.append(x)
print(numeros)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
# Exercício 2 - Crie uma lista de 5 objetos e apresente na tela.
veiculos = ["moto", "carro", "onibus", "caminhao", "trem"]
for x in veiculos:
  print(x)

moto
carro
onibus
caminhao
trem

In [0]:
# Exercício 3 - Crie três strings e concatene as três em uma quarta string
str1 = 'João'
str2 = 'Denilson'
str3 = 'Santos'

str4 = str1+' '+str2+' '+str3
print(str4)

João Denilson Santos

In [0]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 6 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 3 aparece na tupla
tupla = (1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 6)
count = tupla.count(3)
print(count)

3

In [0]:
# Exercício 5 - Crie um dicionário sem valores e em seguida apresente na tela.
dicionario = {}
print(dicionario)

{}

In [0]:
# Exercício 6 - Crie um dicionário contendo as seguintes informações: 3 chaves e 3 valores. Após a criação exiba esse dicionário na tela.
dicionario = {"veiculo": "moto", "Dono": "Joao Denilson", "rodas": 2 }
print("Dicionário:",dicionario)

Dicionário: {'veiculo': 'moto', 'Dono': 'Joao Denilson', 'rodas': 2}

In [0]:
# Exercício 7 - Adicione mais dois elemento ao dicionário criado no Exercício 6 e exiba na tela.
update_dic = {"cidade": "Cedro-CE"}
dicionario.update(update_dic)
print("Update dicionario",dicionario)

Update dicionario {'veiculo': 'moto', 'Dono': 'Joao Denilson', 'rodas': 2, 'cidade': 'Cedro-CE'}

In [0]:
# Exercício 8 - Crie um dicionário com 4 chaves e 4 valores. Um dos valores deve ser uma lista de 3 elementos numéricos. 
# Exiba o dicionário na tela.
list_Numeros =[1,2,3]
discionario2 = {"animal": "cobra", "espécie": "réptil", "venenosa": "sim", "numeros": list_Numeros 
            }
print(discionario2)

{'animal': 'cobra', 'espécie': 'réptil', 'venenosa': 'sim', 'numeros': [1, 2, 3]}

In [0]:
# Exercício 9 - Crie uma lista de 5 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 3 elementos, o terceiro um dicionário com 3 chaves e 3 valores 
# o quarto elemento um valor do tipo float.
# e o quinto elemento um valor do tipo inteiro.
# Exiba a lista na tela.

tupla = (1,2,3)
discionario = {"mora: ": "no Brasil",
              "estado": "do Ceara", 
              "municipio": " de Cedro"}
lista = ["joao", tupla, discionario, 2.2, 8]
print(lista)

['joao', (1, 2, 3), {'mora: ': 'no Brasil', 'estado': 'do Ceara', 'municipio': ' de Cedro'}, 2.2, 8]

In [0]:
# Exercício 10 - Analise a string apresentada abaixo e imprima apenas os caracteres da posição 1 a 18.
frase = 'Infelizmente esse ano não haverá são joão. :('
tam = len(frase)
for x in range(1,tam):
   if(x < 18):
       print(frase[x])

n
f
e
l
i
z
m
e
n
t
e

e
s
s
e

# Fim

###Obrigado - Data Science com Python - <a href="http://web.ficemcasa.ifce.edu.br/">web.ficemcasa.ifce.edu.br</a>