<a href="https://colab.research.google.com/github/JoaoDenilson/DataScience-Python/blob/master/Atividade_semana05_Joao_Denilson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Atividade da semana 05 do curso Data Science com Python
### Assunto: Manipulação de dados usando Pandas e NumPy

In [0]:
#Aluno: João Denílson Souza dos Santos

#importando o Pandas e o NumPy
import pandas as pd
import numpy as np

# Importando a função BytesIO da lib io
from io import BytesIO

# Importanto a lib requests
import requests

1) Carregue o dataset sobre o COVID-19, disponível nessa URL: https://brasil.io/dataset/covid19/caso_full/?format=csv, em um novo projeto. Utilize o Pandas para fazer essa importação. A fonte dos dados é https://brasil.io/dataset/covid19/caso_full/. Nessa fonte de dados é possível visualizar a descrição de cada coluna (metadados).

In [0]:
data_csv = " https://brasil.io/dataset/covid19/caso_full/?format=csv"
data_content = requests.get(data_csv).content
# Lendo o CSV (Obs: o retorno é um Data Frame)
df_data = pd.read_csv(BytesIO(data_content))
df_data

        epidemiological_week        date  ...  is_last is_repeated
0                         24  2020-06-13  ...     True       False
1                         24  2020-06-13  ...     True       False
2                         24  2020-06-13  ...     True       False
3                         24  2020-06-13  ...     True       False
4                         24  2020-06-13  ...     True       False
...                      ...         ...  ...      ...         ...
204191                     9  2020-02-27  ...    False       False
204192                     9  2020-02-26  ...    False       False
204193                     9  2020-02-26  ...    False       False
204194                     9  2020-02-25  ...    False       False
204195                     9  2020-02-25  ...    False       False

[204196 rows x 16 columns]

2) Qual registro desse dataset possui mais casos de COVID-19? Sugestão: tilize a coluna "last_available_confirmed".

In [0]:
# Selecionando a coluna last_available_confirmed e buscando o maior valor.
df_data[["last_available_confirmed"]].max()

last_available_confirmed    172875
dtype: int64

3) Quais são as cidades com mais de 100.000 habitantes que possuem menos de 500 casos de COVID-19? Sugestão: utilize a coluna "is_last" para verificar se é o último dado registrado, para isso ele deve possui o valor True. Utilize para identificar a população da cidade a coluna ```estimated_population_2019```.

In [0]:
df_data[((df_data["estimated_population_2019"]>100000 ) & (df_data["last_available_confirmed"] <500)) & (df_data["is_last"] == True)]

      epidemiological_week        date  ...  is_last is_repeated
211                     24  2020-06-13  ...     True       False
239                     24  2020-06-13  ...     True       False
319                     24  2020-06-13  ...     True       False
394                     24  2020-06-13  ...     True       False
461                     24  2020-06-13  ...     True       False
...                    ...         ...  ...      ...         ...
4594                    24  2020-06-13  ...     True       False
4599                    24  2020-06-13  ...     True       False
4603                    24  2020-06-13  ...     True       False
6550                    24  2020-06-12  ...     True       False
6589                    24  2020-06-12  ...     True       False

[166 rows x 16 columns]

4) Quantos casos de COVID-19 a cidade de Fortaleza possui? Sugestão: utilize a coluna "is_last" para verificar se é o último dado registrado, para isso ele deve possui o valor True.

In [0]:
df_result = df_data[(df_data["is_last"] == True) & (df_data["city"] == "Fortaleza")]
df_result[["last_available_confirmed"]].head().max()

last_available_confirmed    30210
dtype: int64

5) Com exceção da cidade Fortaleza, qual é a média de casos e de óbtos ocasionados pelo COVID-19 nas demais cidades do Ceará? Sugestão: use as colunas "last_available_deaths" e "last_available_confirmed". OBS.: o sinal de diferença é ```!=```.

In [0]:
#Media dos casos no ceará com exceção de Fortaleza
data_result_media = df_data[((df_data["is_last"])==True) & ((df_data["city"]) !="Fortaleza") & ((df_data["state"]) =="CE")]
data_media_casos = data_result_media["last_available_confirmed"]
data_media_obitos = data_result_media["last_available_deaths"]

#Media dos casos
data_media_casos.mean()

663.0597826086956

In [0]:
#Media dos Óbitos
data_media_obitos.mean()

36.91847826086956

6) Importe o NumPy e, usando esta biblioteca, crie uma matriz bidimencional contendo a quantidade de casos e a quantidade de óbitos de cada cidade do ceará, exceto a cidade de Fortaleza.

In [0]:
Matriz = np.array([data_media_casos,data_media_obitos]).T
Matriz

array([[    7,     1],
       [  190,     9],
       [ 1047,    28],
       [  156,    10],
       [    7,     0],
       [  125,     2],
       [    1,     0],
       [   50,     3],
       [  358,    12],
       [    6,     0],
       [   96,     8],
       [  490,    17],
       [  531,    24],
       [  283,     1],
       [    3,     1],
       [   15,     0],
       [   53,     1],
       [   27,     0],
       [   19,     2],
       [   12,     1],
       [    2,     0],
       [  112,     1],
       [  112,     2],
       [  154,    12],
       [   16,     2],
       [  266,     6],
       [  187,    19],
       [  225,    18],
       [  524,     7],
       [   68,     9],
       [   92,     3],
       [  690,    32],
       [   80,     1],
       [  785,    24],
       [  238,     6],
       [  132,    11],
       [  150,     3],
       [   28,     3],
       [   36,     2],
       [   57,     1],
       [  768,    43],
       [   21,     1],
       [   40,     1],
       [ 2933,   228],
       [   26,     2],
       [  150,     3],
       [  131,     3],
       [  225,     9],
       [  284,     3],
       [  346,    10],
       [  140,     4],
       [   17,     0],
       [  342,     6],
       [    6,     0],
       [   34,     4],
       [ 1025,    24],
       [   77,     3],
       [   67,     4],
       [   56,     0],
       [   62,     3],
       [   30,     4],
       [   76,     1],
       [  271,    10],
       [  139,     2],
       [  174,    16],
       [   95,     4],
       [   21,     0],
       [   38,     4],
       [  673,    33],
       [   14,     4],
       [   68,     2],
       [  147,     5],
       [  145,     5],
       [  111,     3],
       [  336,    18],
       [ 1758,     0],
       [   49,     4],
       [   60,     0],
       [   10,     1],
       [   50,     4],
       [  119,     4],
       [   21,     1],
       [  103,     8],
       [   71,     5],
       [  382,    22],
       [  442,    31],
       [ 1313,    68],
       [   91,     3],
       [  924,    13],
       [  365,     9],
       [   57,     2],
       [   68,     1],
       [  163,     9],
       [  136,     4],
       [   10,     1],
       [    5,     1],
       [  166,     5],
       [  635,    32],
       [   24,     2],
       [   32,     1],
       [  365,    14],
       [  118,     5],
       [ 2643,   177],
       [ 1134,    65],
       [  120,     7],
       [   16,     0],
       [  552,    25],
       [  133,     7],
       [  101,     5],
       [   29,     2],
       [   47,     2],
       [   77,     5],
       [   74,     1],
       [  121,     6],
       [   62,     3],
       [  723,     8],
       [  155,     2],
       [  183,     6],
       [  121,     1],
       [   28,     3],
       [   12,     0],
       [   96,     9],
       [   19,     3],
       [  179,     7],
       [   94,     1],
       [  458,    19],
       [  778,    55],
       [   76,     3],
       [   34,     0],
       [   28,     1],
       [  118,     3],
       [  263,    19],
       [  255,    17],
       [  102,     8],
       [   52,     1],
       [   53,     5],
       [    7,     2],
       [  321,    19],
       [   18,     0],
       [  217,    10],
       [    9,     0],
       [    6,     0],
       [   21,     0],
       [    8,     1],
       [   45,     0],
       [   14,     0],
       [   41,     2],
       [ 1189,    29],
       [   46,     1],
       [  434,    19],
       [  119,     5],
       [  450,    14],
       [   39,     4],
       [  394,    15],
       [    9,     0],
       [   23,     1],
       [   47,    12],
       [   62,     2],
       [  372,    14],
       [   50,     0],
       [ 1188,    25],
       [   59,     1],
       [   93,     6],
       [   37,     0],
       [  150,     1],
       [ 3752,   162],
       [   61,     1],
       [  288,     4],
       [   52,     1],
       [   16,     1],
       [  308,     8],
       [  158,     8],
       [  535,    22],
       [  347,    27],
       [  152,    14],
       [  276,     8],
       [   12,     0],
       [  143,    16],
       [  404,    12],
       [   74,     1],
       [   49,     4],
       [  135,     5],
       [  353,    17],
       [76429,  4829]])

7) Calcule o desvio padrão e a variância dos **casos confirmados** de COVID-19 sobre o conjunto de dados criado na questão 5.

In [0]:
Des_padrao_casos = np.std(data_media_casos)
Variancia_casos = np.var(data_media_casos)
#Desvio padrão
Des_padrao_casos

5619.999844471602

In [0]:
#Variancia
Variancia_casos

31584398.25186083

8) Calcule o desvio padrão e a variância dos **óbitos** de COVID-19 sobre o conjunto de dados criado na questão 5.

In [0]:
Des_padrao_obitos = np.std(data_media_obitos)
Variancia_obitos = np.var(data_media_obitos)
#Desvio padrão
Des_padrao_obitos

355.16604947831394

In [0]:
#Variancia
Variancia_obitos

126142.92270203213