In [9]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold

In [10]:
def convert_sex(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [11]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train['sex_bin'] = train['Sex'].map(convert_sex)
test['sex_bin'] = test['Sex'].map(convert_sex)

train['Age'].fillna(train['Age'].mean(), inplace=True)
test['Age'].fillna(test['Age'].mean(), inplace=True)

var = ['sex_bin','Age','Pclass','SibSp','Parch','Fare']

X = train[var]
X = X.fillna(-1)
y = train['Survived']

In [12]:
X

     sex_bin        Age  Pclass  SibSp  Parch     Fare
0          0  22.000000       3      1      0   7.2500
1          1  38.000000       1      1      0  71.2833
2          1  26.000000       3      0      0   7.9250
3          1  35.000000       1      1      0  53.1000
4          0  35.000000       3      0      0   8.0500
..       ...        ...     ...    ...    ...      ...
886        0  27.000000       2      0      0  13.0000
887        1  19.000000       1      0      0  30.0000
888        1  29.699118       3      1      2  23.4500
889        0  26.000000       1      0      0  30.0000
890        0  32.000000       3      0      0   7.7500

[891 rows x 6 columns]

In [13]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [17]:
from sklearn.metrics import accuracy_score

#Separando a base de dados.
X_train , X_test , y_train , y_test  =  train_test_split (X, y, test_size = 0.25 , random_state = 0 )

#Usando RegressÃ£o LogÃ­stica
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
predict = classifier.predict(X_test)
predict_completo = classifier.predict(test[var].fillna(-1))
acc_lr = accuracy_score(y_test, predict)
#Usando SVC
svm = SVC(C = 2, kernel='linear')
svm.fit(X_train, y_train)
predict_svm = svm.predict(X_test)
predict_svm_completo = svm.predict(test[var].fillna(-1))
acc_svm = accuracy_score(y_test, predict_svm)

print("Acc LR:", acc_lr)
print("Acc SVM:", acc_svm)

Acc LR: 0.7937219730941704
Acc SVM: 0.7802690582959642

In [18]:
if (acc_svm >= acc_lr):
  sub = pd.Series(predict_svm_completo, index=test['PassengerId'], name='Survived')
  sub.shape
  sub.to_csv("model_SVM.csv", header=True)
else:
  sub = pd.Series(predict_completo, index=test['PassengerId'], name='Survived')
  sub.shape
  sub.to_csv("model_LR.csv", header=True)